html,body{
    margin: 0px;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(248, 245, 245, 0.747);
}

.form {
    border-style: ridge;
    border-width: 1px;
    border-radius: 10px;
    border-color: rgba(255, 255, 255, 0.945);
    background-color: rgba(255, 255, 255, 0.945);
    min-width: 500px;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input {
    border-style:none;
    width: 300px;
}

button {
    border-radius: 12px;
    border-color: rgba(20, 37, 194, 0.945);
    background-color: rgba(20, 37, 194, 0.945);
    min-width: 100px;
    height: 30px;
    color: rgba(252, 252, 252, 0.945);
}