html,body{
    margin: 0px;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infocontainer {
    border-style: solid;
    border-width: 1px;
    border-radius: 12px;
    border-color: rgba(98, 141, 233, 0.945);
    background-color: rgba(98, 141, 233, 0.945);
    min-width: 200%;
    min-height: 400%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}